<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Logica.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mtnusuario</servlet-name>
        <servlet-class>Logica.mtnusuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usuarios</servlet-name>
        <servlet-class>Logica.usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>set_rol</servlet-name>
        <servlet-class>Logica.set_rol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletIngresaConductor</servlet-name>
        <servlet-class>Logica.ServletIngresaConductor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMantenimientoConductor</servlet-name>
        <servlet-class>Logica.ServletMantenimientoConductor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>solicitudes</servlet-name>
        <servlet-class>Logica.solicitudes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buzon_Solicitudes</servlet-name>
        <servlet-class>AccesoDatos.Buzon_Solicitudes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpVehiculo</servlet-name>
        <servlet-class>AccesoDatos.ExpVehiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Factura_Combustible</servlet-name>
        <servlet-class>AccesoDatos.Factura_Combustible</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarSolicitud</servlet-name>
        <servlet-class>AccesoDatos.GuardarSolicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarVehiculo</servlet-name>
        <servlet-class>AccesoDatos.GuardarVehiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Salvar_Solicitud</servlet-name>
        <servlet-class>AccesoDatos.Salvar_Solicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarAccesorio</servlet-name>
        <servlet-class>AccesoDatos.GuardarAccesorio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpedienteVehiculo</servlet-name>
        <servlet-class>Logica.ExpedienteVehiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tramiteSolicitud</servlet-name>
        <servlet-class>Logica.tramiteSolicitud</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buzon</servlet-name>
        <servlet-class>Logica.Buzon</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mtnusuario</servlet-name>
        <url-pattern>/mtnusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usuarios</servlet-name>
        <url-pattern>/usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>set_rol</servlet-name>
        <url-pattern>/set_rol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletIngresaConductor</servlet-name>
        <url-pattern>/ServletIngresaConductor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMantenimientoConductor</servlet-name>
        <url-pattern>/ServletMantenimientoConductor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>solicitudes</servlet-name>
        <url-pattern>/solicitudes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buzon_Solicitudes</servlet-name>
        <url-pattern>/Buzon_Solicitudes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpVehiculo</servlet-name>
        <url-pattern>/ExpVehiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Factura_Combustible</servlet-name>
        <url-pattern>/Factura_Combustible</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarSolicitud</servlet-name>
        <url-pattern>/GuardarSolicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarVehiculo</servlet-name>
        <url-pattern>/GuardarVehiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Salvar_Solicitud</servlet-name>
        <url-pattern>/Salvar_Solicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarAccesorio</servlet-name>
        <url-pattern>/GuardarAccesorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpedienteVehiculo</servlet-name>
        <url-pattern>/ExpedienteVehiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tramiteSolicitud</servlet-name>
        <url-pattern>/tramiteSolicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buzon</servlet-name>
        <url-pattern>/Buzon</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>Ref to SQL Server data source</description>
        <res-ref-name>jdbc/sql2012</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
